@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-container {
    width: 100%;
}

.header {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

.head {
    display: flex;
    width: 90%;
    margin: 62px auto;
    justify-content: space-between;
    align-items: center;
}

.head-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-list ul {
    margin: 0 35px;
}

.head-list ul li {
    display: inline-block;
    margin: 0 30px;
}

.head-list ul li a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #424242;
}

.head-list ul li :hover {
    color: #207891;
}

.head-list ul li .active {
    color: #424242;
    font-weight: 700;
}

.head-list button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #207891;
    border: 1px solid #207891;
    border-radius: 10px;
    padding: 14px 26px;
}

.hello {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.emma {
    width: 60%;
}

.hello div p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #424242;
    margin-top: 120px;
}

.hello div h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #424242;
}

.hello div button {
    background: #207891;
    box-shadow: 0px 11px 48px 26px rgba(32, 120, 145, 0.2);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 24px 90px;
    margin-top: 60px;
}

.picture {
    position: relative;
    margin-top: 15px;
}

.picture img[src="./images/Vector.png"] {
    width: 80%;
    position: absolute;
    left: 70px;
}

.picture img[src="./images/image 2.png"] {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 135px;
}

.picture img[src="./images/image 3.png"] {
    width: 100%;
    position: absolute;
    bottom: -40px;
    right: -120px;
}

.picture img[src="./images/emma___5 1.png"] {
    width: 100%;
    position: relative;
    top: 35px;
    left: 15px;
}

.picture img[src="./images/Polygon 1.png"] {
    position: absolute;
    top: 150px;
    left: 115px;
}

.picture img[src="./images/Polygon 3.png"] {
    position: absolute;
    top: 200px;
    left: 165px;
}

.picture img[src="./images/Polygon 4.png"] {
    position: absolute;
    top: 100px;
    right: 200px;
}

.picture img[src="./images/Polygon 6.png"] {
    position: absolute;
    top: 150px;
    right: 214px;
}

.picture img[src="./images/Polygon 8.png"] {
    position: absolute;
    top: 120px;
    right: 70px;
}

.picture img[src="./images/Polygon 10.png"] {
    position: absolute;
    top: 180px;
    right: 160px;
}

.picture img[src="./images/Polygon 11.png"] {
    position: absolute;
    top: 120px;
    left: 130px;
}

.picture img[src="./images/Polygon 12.png"] {
    position: absolute;
    top: 80px;
    left: 190px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 100px auto;
}

.shoutout-cont {
    width: 100%;
    background: #207891;
    position: relative;
}

.shoutout-cont img[src="./images/Group 2.png"] {
    position: absolute;
    top: 50px;
    right: 80px;
}

.shoutout-cont img[src="./images/Group 3.png"] {
    position: absolute;
    bottom: 40px;
    left: 60px;
}

.shoutout {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 100px;
}

.shoutout div h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 60px;
}

.shoutout div button {
    background: #FFFFFF;
    box-shadow: 0px 11px 48px 26px rgba(32, 120, 145, 0.2);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #207891;   
    padding: 24px 87px; 
}

.recent-cont {
    width: 100%;
    background-color: linear-gradient(179.63deg, rgba(32, 120, 145, 0.2) -3.3%, rgba(255, 255, 255, 0) 111.29%);
}

.recent {
    width: 80%;
    margin: 155px auto;
}

.poly {
    width: 35%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.poly h3  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #424242;
}

.rectangle {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding-top: 85px;
}